<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	
  	<link rel="stylesheet" href="/css/global.css" />
  	<link rel="stylesheet"  href="/css/aboutme.css" />
  	<link rel="stylesheet"  href="/css/body.css" />

  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@1,400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="main">
    		<div class="background">
    		</div>
    		<div class="contentcontainer">
      			<img class="contentcontainer-child" alt="" src="/img/avata.jpg">
      			
      			<img class="contentcontainer-item" alt="" src="/img/Line-1.svg">
      			
      			<img class="contentcontainer-inner" alt="" src="/img/Line-1.svg">
      			
      			<div class="name">
        				<i class="vu-huy-hoang-container">
          					<p class="vu-huy">VU  HUY  HOANG</p>
        				</i>
        				<i class="i">（　ヴー・フィ・ホアン　）</i>
        				<i class="i1">源火楽</i>
      			</div>
      			<div class="line-div">
      			</div>
      			<i class="about-me-im-container">
        				<p class="vu-huy">ABOUT ME: </p>
        				<ul class="im-just-a-wanderer-trying-to">
          					<li class="im-just-a">I'm just a wanderer trying to find myself</li>
        				</ul>
        				<p class="vu-huy">&nbsp;</p>
        				<p class="vu-huy">&nbsp;</p>
        				<p class="vu-huy">&nbsp;</p>
        				<p class="vu-huy">&nbsp;</p>
        				<p class="vu-huy">“THERE IS NO GOOD OR BAD AI, ONLY HUMANS WHO USE THEM FOR GOOD OR BAD PURPOSES.”</p>
      			</i>
      			<div class="experience">
        				<div class="ai">
          					<img class="ai-icon" alt="" src="/img/AI.svg">
          					
          					<i class="years">2+ YEARS</i>
          					<i class="ai-training">AI TRAINING</i>
        				</div>
        				<div class="web">
          					<img class="ai-icon" alt="" src="/img/Web.svg">
          					
          					<i class="year">1+ YEAR</i>
          					<i class="web-developer">WEB DEVELOPER</i>
        				</div>
        				<div class="android">
          					<img class="ai-icon" alt="" src="/img/Android.svg">
          					
          					<i class="year1">1+ YEAR</i>
          					<i class="android-developer">ANDROID DEVELOPER</i>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>