.image-child {
  object-fit: cover;
}
.image,
.image-child,
.sidebar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 1080px;
}
.sidebar1 {
  background-color: #752d2d;
  width: 140px;
}
.aboutme-icon,
.contact-icon,
.home-icon,
.project-icon,
.service-icon,
.skill-icon {
  position: absolute;
  top: 131.58px;
  left: 20px;
  width: 100px;
  height: 105.47px;
  object-fit: cover;
  cursor: pointer;
}
.aboutme-icon,
.contact-icon,
.project-icon,
.service-icon,
.skill-icon {
  top: 890.95px;
}
.aboutme-icon,
.project-icon,
.service-icon,
.skill-icon {
  top: 435.33px;
}
.aboutme-icon,
.project-icon,
.service-icon {
  top: 283.45px;
}
.project-icon,
.service-icon {
  top: 587.2px;
}
.project-icon {
  top: 739.08px;
}
.background,
.main,
.sidebar {
  position: absolute;
  top: 0;
  height: 1080px;
}
.sidebar {
  left: 1780px;
  width: 140px;
}
.background,
.main {
  width: 1280px;
}
.background {
  left: 0;
  background-color: #d9d9d9;
}
.main {
  left: 500px;
}
.layout {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1080px;
  overflow: hidden;
}
