<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
   
    <meta name="viewport" content="height=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    
  </head>
  <body>
    
    <div id="layout">
      <div id="image">
        <img id="image-child" alt="" src="/img/rectangle-1@2x.png" />
      </div>

      <div id="main" style="
    position: sticky;">
          {{{body}}}
      </div>

      <div id="sidebar">
        
        <img
          class="icon"
          alt=""
          src="/img/home@2x.png"
          id="homeImage"
        />

        <img
          class="icon"
          alt=""
          src="/img/aboutme@2x.png"
          id="aboutMeImage"
        />


        <img
          class="icon"
          alt=""
          src="/img/skill@2x.png"
          id="skillImage"
        />

        <img
          class="icon"
          alt=""
          src="/img/service@2x.png"
          id="serviceImage"
        />

        <img
          class="icon"
          alt=""
          src="/img/project@2x.png"
          id="projectImage"
        />

                <img
          class="icon"
          alt=""
          src="/img/contact@2x.png"
          id="contactImage"
        />

      </div>
    </div>



  </body>
</html>
